{% extends 'base.html.twig' %}

{% block title %}Mouvements{% endblock %}
{% block monTitre %}Détails du mouvement : {{mouvement.nom}} {% endblock %}
{% block body %}
<div class="row m-2">
    <div class="col m-2">
        <h2>Objectifs</h2>
        <p class="text-justify">{{mouvement.objectif}}</p>
        <h2>Consignes</h2>
        <p class="text-justify">{{mouvement.consignes}}</p>
        <h2>Erreurs courantes</h2>
        <p class="text-justify">{{mouvement.erreur}}</p>
        <h2>Correctifs possibles</h2>
        <p class="text-justify">{{mouvement.correctif}}</p>
        <div class="text-center"><a href="{{path('mouvements')}}" class="btn btn-primary">Retour au mouvements</a></div>
    </div>
    <div class="col">
        <img src="{{asset('images/mouvementListe/' ~ mouvement.image)}}" alt="">
    </div>
</div>
{% endblock %}