{% extends 'base.html.twig' %}

{% block title %}admin TypeMouvement{% endblock %}
{% block monTitre %}Admin Type Mouvement{% endblock %}
{% block body %}
{% for message in app.flashes('success') %}<!--On récupère tous les messages de type success-->
  <div class="alert alert-success">
    {{message}}
  </div>
{% endfor %}
<a href="{{path('admin_typeMouvement_creation')}}" class="m-3 btn btn-success btn-lg btn-block">Ajouter</a>
    {% for typeMvt in typeMvts %}
    <div class="row m-2">
        <div class="col border border-dark justify-content-center m-3">
            <h3>{{typeMvt.libelle}}</h3>
            <p class="text-justify">{{typeMvt.image}}</p>
        </div>
        <div class="col">
            <div class="row ">
                <a href="{{path('admin_modification_typeMouvement', {"id": typeMvt.id })}}" class="m-2 btn btn-warning">Modifier</a>
                <form method="POST" action="{{path('admin_suppression_typeMouvement', {'id': typeMvt.id })}}" style="display:inline-block" onsubmit="return confirm('Confirmer la suppression ?')">
                    <!--On rajoutant la ligne suivants, on va pouvoir tester dans le controller sur quelle méthode
                    on veut recevoir les informations (CF dans les routes de la fonction suppressionAliment())-->
                    <input type="hidden" name="_method" value="delete">
                    <!-- On rajoute un token pour sécuriser la supression avec la fonction twig csrf_token(), SUP correspond 
                    à une valeur que l'on a définit, ça aurait pu être autre chose... -->
                    <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ typeMvt.id)}}">
                    <input type="submit" class="btn btn-danger" value="supprimer">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

