{% extends 'base.html.twig' %}

{% block title %}Calcul{% endblock %}
{% block monTitre %}Calculez vos charges{% endblock %}
{% block body %}
<div class="row">
    <div class="col"></div>
    <div class="col-6 m-3 text-center">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit"/>
        {{ form_end(form) }}
    </div>
    <div class="col"></div>
</div>
<div class="row justify-content-around">
    <div class="col-3">
        <table class="table">
            <thead>
              <tr class="table-active">
                <th scope="col">Semi-techniques de l'arraché</th>
                <th scope="col">charges théoriques</th>
              </tr>
            </thead>
            <tbody>
                {% for charge in chargesArr %}
                <tr>
                    <td>{{charge.nom}}</td>
                    <td>{{charge.charge}}</td>
                  </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-3">
        <table class="table">
            <thead>
              <tr class="table-active">
                <th scope="col">Semi-techniques de l'épaulé</th>
                <th scope="col">charges théoriques</th>
              </tr>
            </thead>
            <tbody>
                {% for charge in chargesEp %}
                <tr>
                    <td>{{charge.nom}}</td>
                    <td>{{charge.charge}}</td>
                  </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-3">
        <table class="table">
            <thead>
              <tr class="table-active">
                <th scope="col">Semi-techniques du jeté</th>
                <th scope="col">charges théoriques</th>
              </tr>
            </thead>
            <tbody>
                {% for charge in chargesJet %}
                <tr>
                    <td>{{charge.nom}}</td>
                    <td>{{charge.charge}}</td>
                  </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
