{% extends 'base.html.twig' %}

{% block title %}Calcul{% endblock %}
{% block monTitre %}Calculez vos charges{% endblock %}
{% block body %}
<div class="row">
    <div class="col d-flex align-items-center">
      <img class="img-fluid d-none d-md-block d-xl-block d-xxl-block" src="{{asset('images/exempleArrache.jpg')}}"
        alt="dessin de l'arrache">
    </div>
    <div class="col-md-6 col-xl-6 col-sm-9 m-3 text-center bgColorCalcul border rounded fw-bold">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            <input type="submit" class="m-3"/>
        {{ form_end(form) }}
    </div>
    <div class="col d-flex align-items-center">
      <img class="img-fluid d-none d-md-block d-xl-block d-xxl-block" src="{{asset('images/exempleEJ.jpg')}}"
        alt="dessin de l'epaule-jete">
    </div>
</div>
<div class="row justify-content-around">
    <div class="col col-sm-12">
        <table class="table table-bordered border-primary">
            <thead class="align-middle text-center">
              <tr class="table-active border-3">
                <th scope="col">Semi-techniques de l'arraché</th>
                <th scope="col">charges théoriques</th>
              </tr>
            </thead>
            <tbody>
                {% for charge in chargesArr %}
                <tr class="border-2">
                    <td>{{charge.nom}}</td>
                    <td class="text-center align-middle">{{charge.charge}}</td>
                  </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col col-sm-12">
      <table class="table table-bordered border-primary">
        <thead class="align-middle text-center">
          <tr class="table-active border-3">
            <th scope="col">Semi-techniques de l'épaulé</th>
                <th scope="col">charges théoriques</th>
              </tr>
            </thead>
            <tbody>
                {% for charge in chargesEp %}
                <tr class="border-2">
                    <td>{{charge.nom}}</td>
                    <td>{{charge.charge}}</td>
                  </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col col-sm-12">
      <table class="table table-bordered border-primary">
        <thead class="align-middle text-center">
          <tr class="table-active border-3">
            <th scope="col">Semi-techniques du jeté</th>
                <th scope="col">charges théoriques</th>
              </tr>
            </thead>
            <tbody>
                {% for charge in chargesJet %}
                <tr class="border-2">
                  <td>{{charge.nom}}</td>
                    <td>{{charge.charge}}</td>
                  </tr>    
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
