{% extends 'base.html.twig' %}

{% block title %}Admin phases{% endblock %}
{% block monTitre %}Admin Phases{% endblock %}
{% block body %}
{% for message in app.flashes('success') %}<!--On récupère tous les messages de type success-->
  <div class="alert alert-success">
    {{message}}
  </div>
{% endfor %}
<div class="d-grid gap-2">
    <a href="{{path('admin_phase_creation')}}" class="m-3 btn btn-success btn-lg btn-block">Ajouter</a>
</div>
    {% for phase in phases %}
        <div class="row m-2">
            <div class="col border border-dark justify-content-center m-3">
                <h4>{{phase.titre}}</h4>
                <p>{{phase.libelle}}</p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="d-grid gap-2">
                        <a href="{{path('admin_phase_modification', {'id': phase.id})}}" class="my-2 btn btn-warning">Modifier</a>
                    </div>
                </div>
                <div class="row align-items-center">
                    <form method="POST" action="{{path('admin_phases_suppression', {'id': phase.id })}}" style="display:inline-block" onsubmit="return confirm('Confirmer la suppression ?')">
                        <!--On rajoutant la ligne suivants, on va pouvoir tester dans le controller sur quelle méthode
                        on veut recevoir les informations (CF dans les routes de la fonction suppressionPhase())-->
                        <input type="hidden" name="_method" value="delete">
                        <!-- On rajoute un token pour sécuriser la supression avec la fonction twig csrf_token(), SUP correspond 
                        à une valeur que l'on a définit, ça aurait pu être autre chose... -->
                        <div class="d-grid gap-2">
                            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ phase.id)}}">
                            <input type="submit" class="btn btn-danger" value="supprimer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
