<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <!--path me permet d'utiliser directement le nom de la route définit dans AccueilController -->
    <a class="navbar-brand" href="{{ path("accueil") }}"><img src="{{asset('images/logoSite.jpg')}}" class="rounded img-fluid" style="width: 125px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("accueil") }}">L'halterophilie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path("mouvements_technique") }}">Analyse des mouvements</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("mouvements") }}">Les mouvements halterophiles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path("calcul_mouvement") }}">Calculez vos charges</a>
          </li>
            <li class="nav-item dropdown show">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{path('admin_mouvements')}}">Admin Mouvement</a>
                <a class="dropdown-item" href="{{path('admin_types')}}">Admin Type Mouvement</a>
                <a class="dropdown-item" href="{{path('admin_phases')}}">Admin Phases</a>
                <a class="dropdown-item" href="{{path('admin_mouvements_tech')}}">Admin mouvements techniques</a>
              </div>
            </li>
          </li>
      </ul>
    </div>
  </nav>